.flexRow {
  &--grid_product-home {
    margin-bottom: 40px;
    margin: auto;
    @media (min-width: 1025px) {
      :global(.vtex-store-components-3-x-imageElement) {
        width: calc(100% - 0px) !important;
        height: calc(100% - -1px) !important;
        object-fit: cover;
      }
    }
    .flexRowContent {
      display: flex;
    }

    :global(.vtex-product-summary-2-x-element) {
      padding: 0;
    }

    :global(.vtex-product-summary-2-x-nameContainer--shelf),
    :global(.vtex-flex-layout-0-x-flexRow--flags-shelf),
    :global(.vtex-flex-layout-0-x-flexRow--selling-price-savings),
    :global(.vtex-product-price-1-x-installments) {
      display: none;
    }
  }
}

.flexColChild--grid_product {
  :global(.vtex-list-context-0-x-list) {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 0;

    :global(.vtex-product-summary-2-x-imageContainer) {
      display: flex;
    }

    :global(.vtex-product-summary-2-x-containerNormal) {
      margin: 0;
      max-width: 100% !important;
      border-radius: 0;
      @include tablet{
        max-height: 245px;
      }
    }

    @include tablet{
      :global(.vtex-product-summary-2-x-imageNormal){
        max-height: 245px;
      }
    }
  }
  :global(.vtex-slider-layout-0-x-sliderLayoutContainer) {

    :global(.vtex-product-summary-2-x-containerNormal) {

      @include tablet{
        border-radius: 0;
        margin: 0;
        width: 100%;
        max-width: 100% !important;
      }
    }

    @include tablet{
      :global(.vtex-product-summary-2-x-imageNormal){
      }
    }
  }

  :global(.vtex-product-highlights-2-x-productHighlightWrapper){
    display: none;
  }
}

.flexCol--grid_product  {
  @media (min-width: 1025px) and (max-width: 1399px) {
    width: calc(100% - 413px) !important;
  }
  @media (min-width: 1400px) and (max-width: 1599px) {
    width: calc(100% - 763px) !important;
  }
  @media (min-width: 1600px) and (max-width: 1980px) {
    width: calc(100% - 1112px) !important;
  }
}
