.flexRow {
  &--table__sizes-container {
    .flexRowContent--table__sizes-container {
      position: relative;
      @extend %maxcontainer;
      padding: 0 15px;
      display: flex;
      @include mobile{
        padding: 0;
      }
    }
  }

  &--table__sizes-feminine {
    .flexRowContent--table__sizes-feminine {
      justify-content: space-evenly !important;
      align-items: center !important;
      .flexCol {
        width: auto;
        .flexColChild {
          display: contents;

          :global(.vtex-store-components-3-x-imageElement) {
            width: max-content;
          }
        }
      }
      .flexCol--table__sizes-feminine-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }
  &--table__sizes-feminine-mobile {
    .flexRowContent--table__sizes-feminine-mobile {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 24px 0;
      .flexCol--table__sizes-feminine-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 48%;

        :global(.vtex-store-components-3-x-imageElement) {
          max-width: 100%;
        }
      }
    }
  }
  &--table__sizes-masculine {
    .flexRowContent--table__sizes-masculine {
      justify-content: center;
      .flexCol--table__sizes-masculine-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }
  &--table__sizes-feminine--tables {
    margin-top: 40px;
    .flexRowContent {
      @include mobile {
        flex-direction: column;
      }
    }
  }
  &--table__sizes-masculine--tables {
    margin-top: 40px;
    .flexRowContent {
      @include mobile {
        flex-direction: column;
      }
    }
  }
}
