.nameContainer--shelf {
  justify-content: start;
  padding: 0;
  margin-block-end: 8px;
  margin-top: 0px;
  padding-top: 5px;
  padding-block-start: 12px;
  margin-block-end: 8px;
  align-items: center;
}
@media (max-width: 1025px) {
  .nameContainer--shelf {
    margin-block-end: 0;
    margin-top: 4px;
  }
}
.nameContainer--shelf .productBrand--shelf {
  font-size: 16px;
  line-height: 16.8px;
  font-weight: 400;
  width: 100%;
  display: inline-block;
  text-align: left;
  width: 160px;
}
@media (max-width: 1025px) {
  .nameContainer--shelf .productBrand--shelf {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  .nameContainer--shelf .productBrand--shelf {
    width: 105px;
  }
}
@media (max-width: 767px) {
  .nameContainer--shelf {
    padding-top: 0 !important;
  }
}
