.sliderLayoutContainer--search__result {
  padding: 20px;
}
@media (min-width: 1025px) {
  .sliderLayoutContainer--search__result .sliderTrack {
    gap: 10px;
  }
}

.paginationDotsContainer--section-images {
  bottom: -17px;
}

.paginationDot--section-images {
  height: 2px !important;
  width: 85px !important;
  border-radius: 0;
  padding: 0px;
}
.paginationDot--section-images--isActive {
  background-color: #fff;
}

@media (min-width: 1025px) {
  .sliderTrack--section-images {
    gap: 5px;
  }
}

.slide--section-images {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.imageElement--section-images:hover {
  filter: brightness(107%);
}

@media (max-width: 1025px) {
  .sliderTrack--images-mobile-banners {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    transform: none !important;
    gap: 15px;
  }
}

@media (max-width: 1025px) {
  .slide--images-mobile-banners {
    width: 100% !important;
  }
}

.sliderLayoutContainer--shelf {
  max-width: 1800px;
  margin: auto;
}
@media (min-width: 1025px) {
  .sliderLayoutContainer--shelf .slide--shelf .slideChildrenContainer--shelf :global(.vtex-product-summary-2-x-containerNormal) {
    overflow: visible;
    max-width: calc(100% - 8px) !important;
  }
}
@media (max-width: 1025px) {
  .sliderLayoutContainer--shelf .sliderArrows--shelf {
    translate: 0 -50px;
  }
}

.sliderLayoutContainer--shelf {
  padding: 0 !important;
}

.slideChildrenContainer--shelf {
  position: relative;
}
.slideChildrenContainer--shelf :global(.vtex-wish-list-1-x-wishlistIconContainer) {
  position: absolute;
  bottom: 7%;
  right: 2%;
}
.slideChildrenContainer--shelf :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button__label)::after {
  content: initial;
}
@media (max-width: 767px) {
  .slideChildrenContainer--shelf :global(.vtex-wish-list-1-x-wishlistIconContainer) {
    bottom: 15%;
    right: 0%;
  }
}

@media (max-width: 1025px) {
  .sliderLayoutContainer--carousel :global(.vtex-store-components-3-x-imageElementLink--slider__home) {
    width: 100%;
  }
}
@media (max-width: 1025px) {
  .sliderLayoutContainer--carousel :global(.vtex-store-components-3-x-imageElement--slider__home) {
    width: 100%;
  }
}
.sliderLayoutContainer--carousel .paginationDotsContainer--carousel {
  bottom: 17px;
}
.sliderLayoutContainer--carousel .paginationDot--carousel {
  width: 100px !important;
  height: 3px !important;
  background-color: white;
  border-radius: 1.5px;
  padding: 0;
  opacity: 0.5;
}
.sliderLayoutContainer--carousel .paginationDot--carousel--isActive {
  opacity: 1;
}

@media (max-width: 1025px) {
  .caretIcon--shelf {
    height: 20px;
    color: black;
  }
}