.flexRow {
  &--main-header {
    background-color: white;
    .flexRowContent--main-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      height: 78px;
      max-width: 1800px;
      margin: auto;
    }
  }

  &--main-header-mobile {
    background-color: white;
    .flexRowContent--main-header-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      height: 78px;
    }
  }

  &--headers__icons {
    .flexRowContent {
      justify-content: end;
      align-items: center;
    }
  }
}

.flexCol--header__drawer-mobile-right {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: row;
  top: 10px;
  align-items: center;
  height:auto;
  -webkit-align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: end;
  .flexColChild--header__drawer-mobile-right {
    height: fit-content;
  }
}

.vtex-flex-layout-0-x-flexColChild--bf-categorias-container {
  background-color: #000 !important; /* fundo preto */
}

.flexRow--bf-categorias-container{
    background-color: #000 !important; /* fundo preto */
}

/*.vtex-store-link-0-x-link--link-custom{
  border: solid #fff!important;
  width: 55px!important;
  padding: 10px 10px!important;
  border-radius: 70px!important;
}*/

.vtex-render__container-id-bf-categorias-container 
.vtex-flex-layout-0-x-flexCol--bf-categorias-container 
.vtex-store-link-0-x-link--link-custom 
.vtex-store-link-0-x-label--link-custom {
  border: 2px solid #fff;
  border-radius: 40px;
  padding: 10px 18px;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease;
}
