.wishlistIconContainer{
  width: auto !important;
    @include tablet{
      padding: 0 0 0 15px;
    }
    @media (max-width: 767px) {
      padding: 0 0 0 15px;
    }
    :global(.vtex-button__label){
        display: flex;
        gap: 10px;
        padding: 0;
        &::after{
            content: "Salvar na Lista de Desejos";
            font-size: 13px;
            text-transform: none;
            text-decoration: underline;
        }
    }
    :global(.vtex-button){
        border: none;
    }
    .outline{
        background-image: url(/arquivos/icon-wishlist-new.png);
    }
    .wishlistIcon{
        width: 22px;
        height: 22px;
        background-repeat: no-repeat;
    }
    @media (min-width: 768px) {
      &:hover {
        .outline {
          background-image: url(/arquivos/icon-wishlist-hover.png)
        }
      }
    }

    :global(.vtex-wish-list-1-x-fill) {
      background-image: url(/arquivos/icon-wishlist-selected.png) !important;
    }
}
