.minicartWrapper {
  width: 50px !important;
  display: flex;
  justify-content: center;
  position: relative;
  @include mobile{
    width: fit-content !important;
    padding: 0 12px 0 8px;
  }
  .minicartButton {
    all: unset;
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: center;
    translate: 0 8px;
    cursor: pointer;
    &::before {
      content: "";
      background: url(assets/icons/header/icon-bag.svg) no-repeat;
      background-size: 100%;
      width: 20px;
      height: 20px;
      display: block;
    }
  }
  .minicartNumber {
    font-family: Century;
    top: 100%;
    font-style: italic;
    right: 0;
    background-color: transparent;
    color: black;
    font-size: 12px;
  }

  .minicartLink{
    text-decoration: none;
  }

  .minicartContainer {
    width: 506px;
    @media(max-width: 767px) {
      width: 100vw;
      box-shadow: 0 5000px 0 5000px rgba(0, 0, 0, 0.8);
      top: 150%;
      border-left: none;
      border-right: none;
    }
    background-color: white;
    position: absolute;
    border: 1px solid #000000;
    top: 120%;
    right: 0;
    z-index: 999999999;
    @media(max-height: 630px) {
      top: -10px;
    }
    .cartHeader {
      .cartTitle {
        display: block;
        font-family: sans-serif;
        letter-spacing: 1px;
        margin: 0;
        padding: 25px 25px 0;
        font-weight: 600;
        font-size: 18px;
        @media(max-width: 767px) {
          padding: 20px 10px 0;
        }
      }
      .cartSegure {
        font-weight: 400;
        font-size: 11px;
        letter-spacing: 0.2em;
        background: #000;
        color: #fff;
        pointer-events: none;
        padding: 12px 0;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
      }
      .minicartCloseMobile {
        position: absolute;
        font-size: 35px;
        top: 13px;
        right: 20px;
        transform: rotate(45deg);
        background: transparent;
        border: none;
        cursor: pointer;
        line-height: 1;
        font-family: none;
        @media(max-width: 767px) {
          right: 5px;
        }
      }
    }

    .cartItems {
      margin: 30px 0;
      padding: 10px 25px;
      max-height: 400px;
      overflow: auto;
      @media(max-width: 767px) {
        padding: 10px;
      }

    }

    .cartItem {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 25px;
      gap: 30px;
      position: relative;
      .minicart__product-img {
        width: 56px;
      }
      .minicart__product-name {
        text-overflow: ellipsis;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.87);
        font-size: 14px;
        margin-top: 0;
        letter-spacing: 1px;
        text-transform: uppercase;
        height: auto;
        margin-bottom: 10px;
        max-width: 350px;
        @media(max-width: 767px) {
          max-width: 90%;
        }
      }
    }

    .itemDetails {
      display: flex;
      flex-direction: column;
      width: calc(100% - 90px);
      min-height: 81px;
      justify-content: space-between;
      .minicart__product-price {
        font-size: 16px;
        font-weight: 500;
        @media(max-width: 370px) {
          font-size: 14px;
        }
      }
      .minicart__product-un {
        text-align: end;
        text-align: end;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        padding-right: 15px;
      }
      .minicartPrice_precoDe{
        @media(max-width: 767px) {
          font-size: 12px !important;
        }
      }
      .minicartPrice_discount{
        @media(max-width: 767px) {
          font-size: 14px !important;
        }
      }
      .minicartPriceGroup{
        gap: 6px !important;
      }
    }

    .minicartTotalizer{
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1;
      margin-top: 10px;
      margin-bottom: 10px;
      text-transform: uppercase;
      margin-bottom: 20px;
      margin-right: 12px;
    }

    .minicartTotalizerPrice {
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 400;
        margin-left: 10px;
    }

    .minicartButtons {
      display: flex;
      justify-content: space-between;
      .cartButton {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 1px;
        text-align: center;
        color: #000;
        background: #fff;
        border: 1px solid #000000;
        text-transform: none;
        height: 40px;
        width: 48%;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
    }

    .checkoutButton {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #000;
      color: white;
      text-decoration: none;
      padding: 0.5rem 1rem;
      letter-spacing: 1px;
      border: none;
      cursor: pointer;
      height: 40px;
      width: 48%;
      &:hover {
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
      }
    }
    .cartFooter {
      padding: 10px;

      .minicartTotalizer {
        display: block;
        text-align: end;
      }
    }

    .minicartRemoveButton{
      position: absolute;
      right: 0;
      top: -1px;
    }
  }
}

.summaryheader-content {
  height: auto;
  width: 420px;
  border: 1px solid #eee;
  background-color: #fff;
  overflow: visible;
  padding: 10px;
  right: 0;
}

.minicartContainer.empty{
  .cartFooter{
    display: flex;
    flex-direction: column;
    &::before{
      content: ":(";
      color: rgba(0, 0, 0, 0.87);
      font-size: 30px;
      font-family: "Futura", sans-serif;
      font-weight: 800;
      display: block;
      text-align: center;
      width: 100%;
    }
  }
  .emptyCartMessage{
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.87);
  }
}

.minicartShowMore {
    width: 94%;
    background: transparent;
    padding: 8px 0;
    cursor: pointer;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border: none;
    border-top: 1px solid #AAAAAA;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: -23px;
    &:hover {
      background: #F2F2F2;
    }
}

.minicartShowLess {
    width: 94%;
    background: #fff;
    padding: 8px 0;
    cursor: pointer;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border: none;
    border-top: 1px solid #AAAAAA;
    position: absolute;
    left: 50%;
    transform: translate(-50%) rotate(180deg);
    top: 45px;
    &:hover {
      background: #F2F2F2;
    }
}

:global(.vtex-store-drawer-0-x-closed--drawer__mobile) .minicartContainer{
  box-shadow: none;
}
