.imageElement--full{
    width: 100%;
}

  .imageElement--image-logo{
  width: 379px;
  height: 78px;
 @media (max-width: 767px) {
    width: 220px;
    height: auto;
 }
}
  .imageElement--section-images{
    max-height: 100%!important;
  }

  .imageElement--section-images-categorias{
    max-height: 100%!important;
  }

 @media (max-width: 767px) {
  .flexRow--container-custom .flexRowContent--container-custom  {
    display:none;
  }
    .flexRowContent--container-custom .paragraph--section-title{
       display: none!important;
    }
 }

 .imageElement--section-images-banner{
  margin-top: 35px;
  margin-bottom: 70px;
 }
 
 .imageElement--shelf-image-left{
      max-height: 753px;
 }

 .imageElement--shelf-image-right{
    max-width: 947px;
    max-height: 766px;
 }

 @media (max-width: 767px) {
.imageElement--shelf-image-left{
  max-width: 50%!important;
    max-height: 350px;
}

.imageElement--section-images-banner{
    max-width: 1024px;
    max-height: 128px;
  }
}