.imageElement--full{
    width: 100%;
}

.imageElement--background-cronometro {
  position: absolute;
  left: 0;
  width: 100%;

  @media (max-width: 1025px) {
    height: 100%;
    object-fit: cover;
  }
}


.imageElement--image-logo {
  @media (max-width: 1025px) {
    max-width: 250px;
  }
}

.imageElement--image-logo{
  width: 379px;
  height: 78px;
  @media (max-width: 767px) {
    width: 220px;
    height: auto;
  }
}
.imageElement--section-images{
  max-height: 80%!important;
}

@media (max-width: 767px) {
  .flexRow--container-custom .flexRowContent--container-custom  {
    display:none;
  }
  .flexRowContent--container-custom .paragraph--section-title{
    display: none!important;
  }
}

.imageElement--section-images-banner {
  width: 100%;
}
