:global(.vtex-flex-layout-0-x-flexColChild--black-friday-container) .savings--shelf{
    color: #fff;
}

:global(.vtex-flex-layout-0-x-flexColChild--black-friday-container) .sellingPrice--shelf{
    color: #fff;
}

:global(.vtex-flex-layout-0-x-flexColChild--black-friday-container) .installments--shelf{
    color: #fff;
}
