.imageElement--full{
    width: 100%;
}

  .imageElement--image-logo{
  width: 379px;
  height: 78px;
 @media (max-width: 767px) {
    width: 220px;
    height: auto;
 }
}
  .imageElement--section-images{
    max-height: 80%!important;
  }

  .imageElement--section-images-categorias{
    max-height: 100%!important;
  }

 @media (max-width: 767px) {
  .flexRow--container-custom .flexRowContent--container-custom  {
    display:none;
  }
    .flexRowContent--container-custom .paragraph--section-title{
       display: none!important;
    }
 }
 
