.paginationDotsContainer{
  &--section-images {
    bottom: -17px;
  }
}

.paginationDot{
  &--section-images {
    height: 2px !important;
    width: 85px !important;
    border-radius: 0;
    padding: 0px;

    &--isActive {
      background-color: #fff;
    }
  }
}

.sliderTrack{
  &--section-images {
    @media (min-width:1025px) {
      gap: 5px;
    }
  }
}

.slide{
  &--section-images {
    margin-left: 4px !important;
    margin-right: 4px !important;
  }
}

.imageElement{
  &--section-images {
    &:hover {
      filter: brightness(107%);
    }
  }
}


.sliderTrack--images-mobile-banners {
  @media (max-width:1025px) {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    transform: none !important;
  }
}

.slide--images-mobile-banners {
  @media (max-width: 1025px) {
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  :global(.vtex-slider-layout-0-x-imageElement--images-mobile-banners){
    max-height: 250px !important;
    margin-top: 10px !important;
  }
}

.sliderLayoutContainer--shelf{
  margin-top: 40px!important;
  @media (max-width:1025px) {
    margin-top: 0;
  }
}

.imageElement--images-mobile-banners{
   @media (max-width: 1025px) {
   }
}
