.sliderLayoutContainer--shelf {
  max-width: 1800px;
  margin: auto;
  .sliderTrackContainer--shelf {
    @include desktop {
    }
  }
  .slide--shelf {
    .slideChildrenContainer--shelf {
      :global(.vtex-product-summary-2-x-containerNormal) {
        @include desktop {
          overflow: visible;
          max-width: calc(100% - 8px) !important;
        }
      }
    }
  }

  .sliderArrows--shelf {
    @include tablet{
      translate: 0 -50px;
    }
  }
}
.sliderLayoutContainer--shelf {
  padding: 0 !important;
}


.slideChildrenContainer--shelf {
  position: relative;
  :global(.vtex-wish-list-1-x-wishlistIconContainer){
    position: absolute;
    bottom: 7%;
    right: 2%;
    :global(.vtex-button__label)::after{
      content: initial;
    }
    @media (max-width: 767px) {
      bottom: 15%;
      right: 0%;
    }
  }
}

.paginationDotsContainer--shelf {
  bottom: -15px;
  @media (max-width: 1025px) {
    bottom: -5px;
  }
}

.paginationDot--shelf {
  background-color: #D9D9D9;
}

.paginationDot--shelf--isActive {
  background-color: #696969;
}
