.sliderLayoutContainer--shelf {
  max-width: 1800px;
  margin: auto;
  .sliderTrackContainer--shelf {
    @include desktop {
    }
  }
  .slide--shelf {
    .slideChildrenContainer--shelf {
      :global(.vtex-product-summary-2-x-containerNormal) {
        @include desktop {
          overflow: visible;
          max-width: calc(100% - 8px) !important;
        }
      }
    }
  }

  .sliderArrows--shelf {
    @include tablet{
      translate: 0 -10px;
    }
  }
}
.sliderLayoutContainer--shelf {
  padding: 0 !important;
}


.slideChildrenContainer--shelf {
  position: relative;
  :global(.vtex-wish-list-1-x-wishlistIconContainer){
    position: absolute;
    bottom: 7%;
    right: 2%;
    :global(.vtex-button__label)::after{
      content: initial;
    }
    @media (max-width: 767px) {
      bottom: 15%;
      right: 0%;
    }
  }
}

@media (min-width: 1026px) {
  .sliderTrack--shelf-3items,
  .sliderTrack--shelf-lpbf-categorias {
    gap: 5px;
  }
}
